/* 
  * CSS reset based on meyer reset: modified to pull in 
  * rules and theming from sibling 'mixins.scss' file.

  (See Meyer reset here: http://meyerweb.com/eric/tools/css/reset/)
   -------
   License: none (public domain)
*/
html{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 18px;
	height: 100vh;
	overflow: hidden;

	* {
		box-sizing: border-box;
	}
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, input, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: 1.6;
	position: relative;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	@include app-font();
	font-size: $sm;
	height: 100%;
	margin: 0;
	overflow-y: auto;
	padding: 0;
/* Smooth scrolling haxx -- need this for Glory™ on iOS devices */
	-webkit-overflow-scrolling: touch; 
}

a {
	color: #36b4c7;
	text-decoration: none;
}

h1, .h1 {
	@include h1();
}
h2, .h2 {
	@include h2();
}
h3, .h3 {
	@include h3();
}
h4, .h4 {
	@include h4();
}
h5, .h5 {
	@include h5();
}
h6, .h6 {
	@include h6();
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

input[type=text] {
	border-bottom: 1px solid;
}

pre,
code{
	background-color: #0003;
	font-family: monospace;
	font-weight: bolder;
	padding: 0 0.2rem;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media screen and (max-width: 800px) {
	html{
		font-size: 14px;
	}
}